.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    z-index: -1; /* Coloca la imagen detrás del contenido */
  }
  .centeredButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #25878e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .heading {
    
    font-size: 4rem;
    margin-bottom: 20px; 
    color: #cdcbcd; 
    font-family: "Arial", sans-serif;
  }

  .centeredButton:hover {
    background-color: #691a7a;
  }