.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
  width: 100%;
  max-width: 250px; 
  padding: 0.7rem;
  margin: 1rem;
  background-color: #efefef50;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease
}

.heading {
  margin: 4px 0; 
  font-size: 20px; 
  color: #d9c5eb; 
}

.card p {
  margin: 4px 0;
  font-size: 20px;
  color: #f5f9f2;
}

.card a {
  text-decoration: none; 
  color: #226e5c;
}