.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  

  }

  body {
    font-family: "Chakra Petch", sans-serif;
    background:linear-gradient(
      to left,
      rgb(51, 97, 222) 0%,
      rgba(0,128,128,1) 100%
  
    );

  }
.detailStyle {
    background-color: #94c1be; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    font-family: "Chakra Petch", sans-serif;
  }
  
  .detailStyle h1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 16px;
  }

  .detailStyle h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 16px;
  }
  
  .detailStyle p {
    font-size: 18px;
    color: #2d237d; 
    margin: 8px 0;
  }
  .detailImage {
    width: 150px; 
    height: 150px;
    object-fit: cover; 
  }